[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vim-autopep8"]
	path = bundle/vim-autopep8
	url = https://github.com/tell-k/vim-autopep8.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/bexec"]
	path = bundle/bexec
	url = https://github.com/vim-scripts/Bexec.git
